html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
* {
    box-sizing: border-box;
  }
.main {
    position: relative;
    max-width: 950px;
}
@media only screen and (max-width: 600px) {
    nav {
        position: top;
        top: 0px;
        text-align: left;
    }
    li {
        display: inline;
    }
    
}
@media only screen and (min-width: 600px) {
    nav {
        position: fixed;
        left: 0px;
} 
    ul {
    list-style-type: none;
}

    .header {
    margin-left: 200px;
}
    .content {
    margin-left: 200px;
}
}

