html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
* {
    box-sizing: border-box;
  }
.main {
    position: relative;
    max-width: 800px;
}
@media only screen and (max-width: 600px) {
    nav {
      position: float;
        width: 100%}
}
nav {
    position: fixed;
    left: 0px;
    width: 25%;
}
ul {
    list-style-type: none;
  }
.content {
    width: 75%;
    margin-left: 200px;
}

.header {
    width: 75%;
    margin-left: 200px;
}